/* Main-style*/
.content {
  width: 75%;
  float: left;
  padding-right: 15px; }

.contents {
  width: 100%; }

.sidebar {
  width: 25%;
  float: left; }

.idiom {
  margin-top: 15px; }

.idiom-left {
  width: 50%;
  background: #ebebeb;
  float: left; }

.idiom-right {
  width: 50%;
  background: #e1e1e1;
  float: right; }

.idiom-heading {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 15px; }

.subs {
  position: relative;
  display: inline; }

.idiom-heading a.heading-href {
  text-decoration: none;
  font-family: tahoma;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background-color: #9c0909;
  line-height: 40px;
  padding: 10px 25px; }

.idiom-heading a.heading-href.violet {
  background: #2b3357; }

.idiom-heading img.image-1 {
  position: absolute;
  top: -22px;
  left: 10px; }

.idiom-heading img.image-2 {
  position: absolute;
  top: -22px;
  right: 10px; }

.idiom-cont {
  padding-right: 15px;
  padding-left: 15px; }

.idiom-cont .row.cont {
  margin-left: -9px;
  margin-right: -9px; }

.col-new {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
  width: 50%;
  margin-bottom: 40px; }

.col-new-img {
  max-height: 130px;
  overflow: hidden;
  margin-bottom: 10px; }

.col-new-img img {
  width: 100%; }

.col-new-name a {
  text-transform: uppercase;
  text-decoration: none;
  color: #9c0909;
  font-size: 14px;
  font-weight: bold;
  font-family: tahoma; }

.col-new-name a:hover {
  color: #1e233a; }

.col-new-name.vio a {
  color: #1e233a; }

.col-new-name.vio a:hover {
  color: #9c0909; }

.blocksit-cont {
  margin-top: 15px; }

.banner-cont {
  text-align: center;
  margin-bottom: 15px;
  padding-left: 70px;
  padding-right: 70px; }

.banner-cont a img {
  width: 100%; }

.dictionary {
  background: #f4f4f4;
  padding-top: 1px;
  padding-bottom: 25px;
  margin-bottom: 10px; }

.row.dic-subs {
  margin-left: -5px;
  margin-right: -6px; }

.doubleimgs a {
  display: inherit; }

.doubleimgs {
  float: left;
  width: 24%;
  margin-bottom: 11px;
  margin-right: 1.333333%; }

img.double {
  margin-bottom: 11px; }

.doubleimgs a img {
  width: 100%; }

.doubleimgs.ends {
  margin-right: 0px; }

.photo-quotes {
  margin-bottom: 15px; }

.photo-left {
  width: 50%;
  float: left;
  position: relative; }

a.photo-cont {
  padding: 15px 15px;
  width: 100%;
  margin-top: -14px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e233a+0,8f0222+60,9c0909+100 */
  background: #1e233a;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1e233a 0%, #8f0222 60%, #9c0909 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e233a), color-stop(60%, #8f0222), color-stop(100%, #9c0909));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1e233a 0%, #8f0222 60%, #9c0909 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1e233a 0%, #8f0222 60%, #9c0909 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1e233a 0%, #8f0222 60%, #9c0909 100%);
  /* IE10+ */
  background: linear-gradient(to right, #1e233a 0%, #8f0222 60%, #9c0909 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e233a', endColorstr='#9c0909',GradientType=0 ); }

a.photo-cont {
  text-decoration: none;
  font-size: 13px;
  color: #fff; }

.photo-right {
  float: right;
  width: 50%; }

a.photo-a {
  width: 50%;
  float: left; }

.photo-left a img, .photo-right a img {
  width: 100%; }

.breadcrumbs {
  ine-height: 25px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  color: #1e233a; }

.breadcrumbs a {
  text-decoration: none;
  color: #1e233a; }

.breadcrumbs a:hover {
  color: #9c0909; }

.button-news {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 15px; }

.button-news a {
  font-family: tahoma;
  text-decoration: none;
  color: #4b59a5;
  border: 1px solid #4b59a5;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 30px; }

.button-news a:hover {
  border-color: #9c0909;
  color: #9c0909; }

.idiom-heading a.heading-href.others {
  padding: 10px 45px; }

.row.list-sub {
  margin: 0; }

p.block-title.top {
  margin-top: 40px; }

a.photo-a img {
  opacity: 0.7; }

a.photo-actives img, a.photo-a:hover img {
  opacity: 1; }

.lists-dm {
  margin-top: 5px; }

.idiom-heading a.heading-href:hover {
  color: #fcd242; }

/*---------------------------------*/
/*responsive*/
@media (max-width: 1199px) {
  .container {
    width: 100%; }
  .row.list-sub .col-lg-4 {
    width: 33.33333%;
    float: left; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .navmenu > ul > li {
    font-size: 15px;
    margin: 1px 7px; } }

@media (max-width: 1050px) {
  .navmenu > ul > li {
    font-size: 13px;
    padding: 2px; } }

@media (max-width: 991px) {
  .content {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px; }
  .sidebar {
    display: none; }
  a.photo-cont {
    padding: 20px 15px; } }

@media (max-width: 840px) {
  a.photo-cont {
    padding: 15px 15px; } }

@media (max-width: 767px) {
  .col-new-name a {
    font-size: 12px; }
  a.photo-cont {
    padding: 10px 15px; }
  .idiom-heading a.heading-href.others {
    padding: 10px 30px; }
  .contents {
    margin-top: 65px;
    padding-left: 0; }
  .containers {
    margin-left: 15px; } }

@media (max-width: 667px) {
  a.photo-cont {
    padding: 10px 15px;
    font-size: 11px; }
  .idiom-heading a.heading-href.others {
    padding: 10px 22px; }
  .idiom-heading a.heading-href {
    font-size: 12px; }
  .banner-cont {
    display: none; } }

@media (max-width: 560px) {
  .idiom-left, .idiom-right {
    width: 100%; }
  .col-new-img {
    max-height: 140px; }
  .doubleimgs {
    width: 50%; }
  .photo-left, .photo-right {
    width: 100%;
    margin-bottom: 15px; }
  a.photo-cont {
    padding: 25px 15px;
    font-size: 14px; }
  .doubleimgs {
    width: 47%;
    margin-right: 5%; }
  .doubleimgs.end {
    margin-right: 0px; } }

@media (max-width: 480px) {
  .grid {
    margin-left: 15px !important; }
  .banner-cont {
    display: none; }
  a.photo-cont {
    padding: 18px 15px;
    font-size: 12px; }
  .row.list-sub .col-lg-4 {
    width: 50%; }
  .row.list-sub .col-lg-4.three {
    width: 100%; }
  .idiom-heading a.heading-href.others {
    padding: 10px 23px; }
  .idiom-heading a.heading-href {
    font-size: 14px; } }

@media (max-width: 360px) {
  a.photo-cont {
    padding: 14px 15px;
    font-size: 10px; } }
